body {
    margin: 0;
    background-color: #19405C;
}

#steam_logo {
    margin: 20px;
}

a {
    text-decoration: none;
    color: rgb(190, 190, 190);
}

a:visited {
    color: rgb(190, 190, 190);
}

header:hover,
#setting select:hover {
    color: white;
}

header {
    padding: 10px 0;
    background-color: black;
    display: grid;
    grid-template-columns: 200px 1fr 350px;
}

#nav {
    margin: 30px 0 0 30px;
}

#setting {
    width: 350px;
}

#setting {
    vertical-align: middle;
    text-align: center;
}

#setting select {
    color: rgb(190, 190, 190);
    font-size: 13px;
    background: black;
    border: none;
}

#setting ul li {
    font-size: 13px;
    color: rgb(190, 190, 190);
    list-style-type: none;
    display: inline;
}

